.body{
    align-items: flex-start;
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
}

.body{
    height: 100vh;
    padding: 0;
    margin: 0;
}

.mytabs{
    align-content: flex-end;
    display:flex;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: 15px;
    padding: 25px;
    margin-left: 23%;
}       

.mytabs input[type = "radio"] {
    display: none;
}

.mytabs label {
    padding: 35px;
    background: rgb(210, 145, 188);
    font-weight: bold;
}

.mytabs input[type = "radio"]:checked + label {
    background:rgb(255, 209, 209);
}